{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}

{% import '@PrestaShop/Admin/macros.html.twig' as ps %}

{% block category_form_block %}
  {{ form_start(carrierContactForm) }}

  <div class="card">
    <h3 class="card-header">
      {{ 'Carrier Contact'|trans({}, 'Modules.Carriercontact.Admin') }}
    </h3>
    <div class="card-body">
      <div class="form-wrapper">
        {{ form_errors(carrierContactForm) }}

        {{ ps.form_group_row(carrierContactForm.id_carrier, {}, {
          'label': 'Carrier'|trans({}, 'Admin.Global')
        }) }}

        {{ ps.form_group_row(carrierContactForm.name, {}, {
          'label': 'Name'|trans({}, 'Admin.Global'),
          'help': 'Invalid characters:'|trans({}, 'Admin.Notifications.Info') ~ ' <>;=#{}'
        }) }}

        {{ ps.form_group_row(carrierContactForm.email1, {}, {
          'label': 'Email 1'|trans({}, 'Modules.Carriercontact.Admin'),
        }) }}

        {{ ps.form_group_row(carrierContactForm.email2, {}, {
          'label': 'Email 2'|trans({}, 'Modules.Carriercontact.Admin')
        }) }}

        {% block category_form_rest %}
          {{ form_rest(carrierContactForm) }}
        {% endblock %}
      </div>
    </div>
    <div class="card-footer">
      <a href="{{ path('admin_carrier_contact_index') }}" class="btn btn-outline-secondary">
        {{ 'Cancel'|trans({}, 'Admin.Actions') }}
      </a>
      <button class="btn btn-primary float-right" id="save-button">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
    </div>
  </div>
  {{ form_end(carrierContactForm) }}
{% endblock %}
